/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
img {
  max-width: 100%;
}
h2 {
  padding-bottom: 2rem;
}
.mt {
  margin-top: 5rem;
}

/****** HEADER ******/
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #255ee9;
}
.img-logo {
  width: 9rem;
  height: 2rem;
  background-color: #255ee9;
  border-radius: 10px;
}
.header ul {
  display: flex;
  justify-content: center;
}
.header li {
  padding: 1rem;
}
.header a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.btn {
  border: none;
  border-radius: 20px;
  padding: 4px;
  padding-inline: 15px;
  font-weight: 900;
}
.hero-bg {
  position: relative;
}
.header-box {
  position: absolute;
  top: 130px;
  left: 500px;
  height: 300px;
  width: 45%;
  text-align: center;
  color: white;
  margin: 0 auto;
}
.h1 {
  margin-bottom: 60px;
}
.btns-hero {
  padding: 30px;
}
.btn-white {
  border: none;
  border-radius: 20px;
  padding: 8px;
  padding-inline: 20px;
  margin-right: 1rem;
}
.btn-black {
  border: none;
  border-radius: 20px;
  padding: 8px;
  padding-inline: 20px;
  background-color: black;
  color: white;
}

/******* MAIN *******/
/* SECTION-WHITE */
.section-white {
  justify-content: center;
}
.container-white {
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  display: flex;
  margin: 0 auto;
}
.container-white-img {
  height: 500px;
  width: 50%;
  background: no-repeat;
  background-image: url(./img/item1.svg);
}
.container-white-text {
  margin-bottom: 3.5rem;
  width: 20%;
  text-align: start;
}

/***** SECTION-GREY-1 *****/
.wave {
  width: 100%;
  display: block;
  opacity: 0.18;
}
.section-grey-1 {
  background-color: #d3d3d3;
}
.container {
  width: 80%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
.container-grey-text {
  width: 25%;
  height: 350px;
  padding: 1rem;
  text-align: start;
  font-size: large;
}
.container-grey-img {
  width: 60%;
  background-image: url(./img/item2.svg);
  background-position: center;
  background-size: cover;
  height: 550px;
}
.wave-reverse {
  transform: rotateX(180deg);
}

/***** SECTION-GREY-2 *****/
.section-grey-2 {
  background-color: lightgray;
}
.container-green {
  display: flex;
  height: 45rem;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
/***** /MAIN *****/

/***** FOOTER *****/
footer {
  background-color: #23272a;
  color: white;
  padding-block: 2rem;
}
.txt-violet {
  color: #7289da;
  margin-bottom: 1em;
}
.mb {
  margin-bottom: 1rem;
}
.ft-flex {
  display: flex;
}
.ft-social {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
}
.img-it {
  width: 1.5em;
}
.language {
  color: white;
  text-decoration: none;
}
.socials {
  display: inline;
  justify-content: flex-start;
}
.ft-menu-box {
  width: 70%;
  height: 300px;
  display: flex;
}
.ft-menu-col {
  justify-content: space-between;
  height: 300px;
  width: 25%;
  padding-bottom: 20px;
}
li {
  list-style: none;
}
/***** FOOTER-BOTTOM ******/
.ft-bottom {
  padding-top: 1em;
}

.img-logo-down {
  border-radius: 10px;
  height: 2rem;
  width: 9rem;
}

.ft-bottom-content {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.btn-violet {
  background-color: white;
  color: black;
  font-weight: 900;
  padding: 0.5rem;
  border-radius: 2em;
  text-decoration: none;
}
/***** /FOOTER-BOTTOM ******/
